table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 2px;
  text-align: center;
}
th:hover {
  background: cyan;
}
svg {
  height: 20px;
}

button {
  background-color: green;
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-align: center;
}

input[type="text"] {
  width: 20rem;
}
